body{
  background-color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1{
  height: 300px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px white;
}
.box1 h1{
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: 700;
  color:rgb(29, 99, 99);
}
.time{
  font-size: 80px;
  font-weight: 900;
}
.date{
  font-weight: 600;
  font-size: 18px;
}